* {
  font-family: 'Monserrat', sans-serif;
  text-align: center;
}
.hidden{
  visibility: hidden;
}
.show{
  visibility: visible;
}
.aqua{
  background-color: aqua;
 
}
.aquamarine{
  background-color: aquamarine;
}
.dodgerblue{
  background-color: dodgerblue;
}
.left{
   float: left;
}
.center{
   float: center;
   
}
.right{
   float: right;
}
.underline{
  text-decoration: underline;
  padding-right: 25px;
  padding-left: 10px;
}
li{
  padding-right: 25px;
  padding-left: 10px;
  text-align: start;
}
img{
  padding-right: 25px;
  padding-left: 10px;
}